<form class="ui form" method="post" action="{{path('login.newUser')}}">
    <h4 class="ui header dividing">Créer un compte</h4>
        <div class="two fields">
            <div class="field">
                <label for="email">Email</label>
                    <input type="email" name="email" id="email">
            </div>
            <div class="field">
                <label for="password">Mot de passe</label>
                    <input type="password" name="password" id="password">
            </div>
        </div>
        <div class="field">
            <button class="ui green button">Créer un compte</button>
        </div>
</form>